<a href="https://colab.research.google.com/github/VijayTaori/Python4DataScienceMachineLearningbootcamp/blob/master/Drop_multiple_columns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
# Create a dictionary with 4 keys
data = {
    'A':[1, 2, 3, 4, 5, 6],
    'B': [10, 20, 30, 40, 50, 60],
    'C': [100, 200, 300, 400, 500],
    'D':[1000, 2000, 3000, 4000, 5000, 6000],
}

In [5]:
df = pd.DataFrame(data)
df

ValueError: ignored

In [6]:
# Create a dictionary with 4 keys
data = {
    'A':[1, 2, 3, 4, 5, 6],
    'B': [10, 20, 30, 40, 50, 60],
    'C': [100, 200, 300, 400, 500, 600],
    'D':[1000, 2000, 3000, 4000, 5000, 6000],
}

In [7]:
df = pd.DataFrame(data)
df

   A   B    C     D
0  1  10  100  1000
1  2  20  200  2000
2  3  30  300  3000
3  4  40  400  4000
4  5  50  500  5000
5  6  60  600  6000

In [8]:
df.drop('A',axis=1)

    B    C     D
0  10  100  1000
1  20  200  2000
2  30  300  3000
3  40  400  4000
4  50  500  5000
5  60  600  6000

In [9]:
df.drop('A','B', axis=1)

<ipython-input-9-1e4a6e7aff74>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop('A','B', axis=1)

TypeError: ignored

In [11]:
df.columns[0,1]

IndexError: ignored

In [12]:
df.columns[[0,1]]

Index(['A', 'B'], dtype='object')

In [13]:
df.drop(['A','B'], axis=1)

     C     D
0  100  1000
1  200  2000
2  300  3000
3  400  4000
4  500  5000
5  600  6000

In [10]:
df.drop(df.columns[[0,1]],axis=1)

     C     D
0  100  1000
1  200  2000
2  300  3000
3  400  4000
4  500  5000
5  600  6000