<a href="https://colab.research.google.com/github/VijayTaori/Python4DataScienceMachineLearningbootcamp/blob/master/unique()_and_drop().ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

In [ ]:
df = pd.read_excel('Assesment of taxes 2020_etoro.xlsx', sheet_name=0)

In [ ]:
df.columns

Index(['Position ID', 'Action', 'Amount', 'Units', 'Open Date', 'Close Date',
       'Leverage', 'Spread', 'Profit', 'Profit (cal.)', 'profit - spread',
       'Open Rate', 'Close Rate', 'Close Amount', 'Take profit rate',
       'Stop lose rate', 'Rollover Fees and Dividends', 'Copied From', 'Type'],
      dtype='object')

In [ ]:
df['Leverage'].unique()

array([ 1., nan])

In [ ]:
df['Rollover Fees and Dividends'].unique()

array([ 0., nan])

In [ ]:
df['Copied From'].unique()

array(['-', nan], dtype=object)

In [ ]:
df['Type'].unique()

array(['Crypto', nan], dtype=object)

In [ ]:
df1 = df.drop(['Leverage',
               'Stop lose rate',
               'Take profit rate',
               'Stop lose rate',
               'Rollover Fees and Dividends',
               'Copied From',
               'Type'
               ], axis=1)

In [ ]:
df1

,Position ID,Action,Amount,Units,Open Date,Close Date,Spread,Profit,Profit (cal.),profit - spread,Open Rate,Close Rate,Close Amount
0,846176513.0,Buy Tezos,412.0,205.804486,23/12/2020 12:03:34,31/12/2020 15:18:32,4.13,-1.07,0.000000,-4.130000,2.00,2.00,411.608972
1,846157005.0,Buy Tezos,500.0,251.521706,23/12/2020 11:26:54,31/12/2020 15:18:24,5.05,2.24,2.515217,-2.534783,1.99,2.00,503.043412
2,847982369.0,Buy Tezos,200.0,107.747010,24/12/2020 03:54:22,31/12/2020 15:18:19,2.16,15.13,15.084581,12.924581,1.86,2.00,215.494020
3,840577036.0,Buy Cardano,500.0,2870.264064,19/12/2020 17:12:02,29/12/2020 05:32:19,17.72,-5.74,0.000000,-17.720000,0.17,0.17,487.944891
4,814175274.0,Buy Cardano,70.0,405.327157,30/11/2020 16:51:37,29/12/2020 05:32:10,2.50,-0.20,0.000000,-2.500000,0.17,0.17,68.905617
...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,609940706.0,Buy Bitcoin,1060.0,0.118959,29/04/2020 17:44:04,01/05/2020 20:57:04,7.79,-25.13,-25.128899,-32.918899,8910.67,8699.43,1034.875493
341,610190271.0,Buy Bitcoin,540.0,0.058881,30/04/2020 04:14:49,01/05/2020 20:56:05,3.85,-28.20,-28.199289,-32.049289,9171.11,8692.19,511.804839
342,610187469.0,Buy Bitcoin,540.0,0.058647,30/04/2020 04:00:56,01/05/2020 20:55:45,3.83,-30.73,-30.726923,-34.556923,9209.41,8685.48,509.377346
343,599996081.0,Buy Bitcoin,100.0,0.014149,17/04/2020 18:42:42,01/05/2020 11:44:24,0.96,27.72,27.724117,26.764117,7067.56,9027.00,127.723023
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-73.10,-131.990591,-855.840591,NaN,NaN,NaN

In [ ]:
df_open = df1([])